<!-- <div id="main-container-background"></div> 

<div class="wedding-page" id="main-container">
    <div class="theme-image-container">
        <div class="theme-image"></div>
        <div class="theme-image-layer-top"></div>
    </div>
    <div class="theme-image-container-left">
        <div class="theme-image-left"></div>
      </div>
    <div class="theme-image-container-right">
        <div class="theme-image-right"></div>
    </div>
    <div id="title-container">
        <div>
          <h1 id="wedding-title">John and Sasha</h1>
          <h2 id="wedding-date-location">
            <span class="date-spacing"> &emsp; </span>
            <span id="wedding-date">October 13, 2018</span>
            <span class="date-spacing"> &emsp; </span>
            <span id="separator"> &bull; </span>
            <span id="wedding-location">Charleston, SC</span>
          </h2>
          <h2 data-hide-countdown="false" data-wedding-date="2018-10-13" id="wedding-countdown"></h2>
        </div>
    </div>
    <app-navbar></app-navbar> -->
    
    <header id="header">
          <div class="header-background"></div>
          <div id="cover-image">
            <img class="wide-cover-image" data-full-width="923" src="//media.xogrp.com/images/9e21179f-c4a1-469d-a25e-96e3a236087e~rt_0-cr_0.169.927.632-rs_1024.h?compress=true"
            />
            <img class="hidden" data-echo-background="https://static.xoedge.com/xo-guest-services/assets/guest/themes/garden_lights-plum/background_image-9f8a59040532b90a1a864336bf0b8e37.png"
            />
          </div>
    </header> 
    <div id="content">
        <div class="content-background"></div>
        <div class="page">
            <div class="page-background"></div>
            <div class="page-sections">
                <div class="anchor" id="the-wedding"></div>
                <div class="wedding-event-section">
                    <div class="wedding-event-section-background"></div>
                    <div class="wedding-event-section-title-border-top"></div>
                    <div class="wedding-event-section-title">The Wedding</div>
                    <div class="wedding-event-section-title-border-bottom"></div>
                    <p class="wedding-event-section-description"></p>
                    <div class="wedding-event-section-image-container">
                      <img class="wedding-event-section-image" src="//media.xogrp.com/images/e3238677-749e-4e79-8ef2-828bc9351cc0"
                      />
                    </div>
                    <div class="wedding-event-section-items">
                        <div class="wedding-event-item">
                            <div class="wedding-event-title"></div>
                            <div class="wedding-event-date">Saturday, October 13, 2018 <br/>
                                4:30 PM
                            </div>
                            <div class="wedding-event-attire">Attire: Formal Attire</div>
                            <div class="wedding-event-separator"></div>
                            <div class="wedding-event-title item-title">Ceremony and Reception</div>
                            <div class="wedding-event-venue">Governor Thomas Bennett House</div>
                            <div class="wedding-event-address">69 Barre Street, Charleston, SC</div>
                        </div>
                    </div>
                </div>

                <div class="anchor" id="the-schedule"></div>
                <div class="wedding-schedule-section">
                    <div class="wedding-schedule-section-background"></div>
                    <div class="wedding-schedule-section-title-border-top"></div>
                    <div class="wedding-schedule-section-title">Weekend Schedule</div>
                    <div class="wedding-schedule-section-title-border-bottom"></div>
                    <p class="wedding-schedule-section-description"></p>
                    <div class="wedding-schedule-section-items">
                        <div class="wedding-schedule-item">
                            <div class="wedding-schedule-title"></div>
                            <div class="wedding-schedule-separator"></div>
                            <div class="wedding-schedule-title item-title">Dinner and Drinks</div>
                            <div class="wedding-schedule-date event-description">After you settle in please join us in getting the weekend festivities started</div>
                        <br>
                            <div class="wedding-schedule-date">Friday October, 12th - Time: TBD</div>
                            <div class="wedding-schedule-venue">Location: TBD</div>
                            <div class="wedding-schedule-address">Address: TBD</div>
                        </div>
                    </div>
                    <div class="wedding-schedule-section-items">
                        <div class="wedding-schedule-item">
                            <div class="wedding-schedule-title"></div>
                            <div class="wedding-schedule-separator"></div>
                            <div class="wedding-schedule-title item-title">Goodbye Brunch</div>
                            <div class="wedding-schedule-date event-description">Have some brunch before we go our separate ways</div>
                        <br>
                            <div class="wedding-schedule-date">Sunday October, 14th - Time: TBD</div>
                            <div class="wedding-schedule-venue">Location: TBD</div>
                            <div class="wedding-schedule-address">Address: TBD</div>
                        </div>
                    </div>
                </div>
                <div class="section-separator"></div>
                <div class="anchor" id="wedding-party"></div>
                <div class="wedding-party-section">
                  <div class="wedding-party-section-background"></div>
                  <div class="wedding-party-section-title-border-top"></div>
                  <div class="wedding-party-section-title">Wedding Party</div>
                  <div class="wedding-party-section-title-border-bottom"></div>
                  <p class="wedding-party-section-description"></p>
                  <div class="wedding-party-section-items">
                    <div class="col-md-6">
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">James Kremen - Best Man</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Brian Harris - Groomsman</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Frank Staropoli - Groomsman</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Santo Staropoli - Groomsman</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Chris Sessa - Groomsman</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                    </div>
                    <div class="section-separator hidden-md hidden-lg"></div>
                    <div class="col-md-6">
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Albina Kaganovich - Matron of Honor</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Jenny Karkoska - Bridesmaid</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Maryna Sharai - Bridesmaid</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                      <div class="wedding-party-item">
                        <div class="wedding-party-content-container">
                          <div class="wedding-party-title">Natalie Sessa - Bridesmaid</div>
                        </div>
                      </div>
                      <div class="wedding-party-separator"></div>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
    



  <!--   <div class="theme-image-container-bottom">
        <div class="theme-image-bottom"></div>
        
    </div>
</div> -->