
<div id="content">
    <div class="content-background"></div>
    <div class="page">
      <div class="page-background"></div>
      <div class="page-sections">
        <div class="anchor" id="accommodations"></div>
        <div class="location-section">
          <div class="location-section-background"></div>
          <div class="location-section-title-border-top"></div>
          <div class="location-section-title">Accommodations</div>
          <div class="location-section-title-border-bottom"></div>
          <p class="location-section-description"></p>
          <div class="location-section-items">
            <div class="location-item">
              <div class="location-title item-title">Holiday Inn Charleston Historic Downtown</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.xogrp.com/images/21fad437-ebd4-4084-aa57-64909d5cf559" />
              </div>
              <div class="location-address">425 Meeting St, Charleston, SC
                <br/>
              </div>
              <div class="location-description"></div>
              <div class="location-button-container">
                <a href="https://www.ihg.com/holidayinn/hotels/us/en/charleston/chsms/hoteldetail" rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="Accommodation" data-website="https://www.ihg.com/holidayinn/hotels/us/en/charleston/chsms/hoteldetail">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Home2 Suites by Hilton Charleston Airport</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.xogrp.com/images/0b1fd251-d92d-49f5-b15e-59f41c304ba6" />
              </div>
              <div class="location-address">3401 W Montague Ave, Charleston, SC
              <div class="location-description"></div>
              <div class="location-button-container">
                <a href="http://home2suites.hilton.com/en/ht/groups/personalized/C/CHSCCHT-AUP-20181009/index.jhtml?WT.mc_id=POG"
                  rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="Accommodation" data-website="http://home2suites.hilton.com/en/ht/groups/personalized/C/CHSCCHT-AUP-20181009/index.jhtml?WT.mc_id=POG">Book This Hotel</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
        <div class="anchor" id="things-to-do"></div>
        <div class="location-section">
          <div class="location-section-background"></div>
          <div class="location-section-title-border-top"></div>
          <div class="location-section-title">Things to Do</div>
          <div class="location-section-title-border-bottom"></div>
          <p class="location-section-description"></p>
          <div class="location-section-items">
            <div class="location-item">
              <div class="location-title item-title">Carriage Tour of Historic Charleston</div>
              <div class="location-image-container">
                <img class="location-image" src="//a.travel-assets.com/lxweb/media-vault/479307_m.jpeg?v=105508" />
              </div>
              <div class="location-address">8 Guignard Street, Charleston, SC
                <br/>
              </div>
              <div class="location-description">
                <p class=" things-to-do-description">Sit in the lap of luxury as you cruise the streets of Charleston in style and comfort, on an amazing carriage
                  ride. Expert guidance, professionalism and knowledge await your arrival to explore this iconic destination.</p>

                <p class=" things-to-do-description">Palmetto Carriage Works is the oldest carriage tour company in Charleston and has developed the greatest
                  carriage experience in the city! A Palmetto Carriage tour offers a blend of knowledge, wit, humor and history
                  and is exciting and ever changing, a seamless fusion of 19th century conveyance in a 21st century city.</p>



                <p class=" things-to-do-description">On this hour long tour, you will ride a carriage through the Historic District of Charleston passing beautiful
                  antebellum homes, garden, mansions, and churches while hearing the history of the "Holy City." All tours
                  start in the Big Red Barn where you will get an opportunity to visit with the company's four legged employees
                  while they take their breaks. You will then board the carriage and tour 30-40 blocks of the city and return
                  back to the barn. A Palmetto Carriage Works tour is a must do while visiting Charleston.</p>
              </div>
              <div class="location-button-container">
                <a href="http://www.tkqlhce.com/click-5827629-10479934-1420669072000?url=https://www.expedia.com/things-to-do/link.a479307.activity-details"
                  rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="FunStuff" data-website="https://www.expedia.com/things-to-do/link.a479307.activity-details">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Historic Charleston City Market</div>
              <div class="location-address">188 Meeting Street Road, Charleston, SC
                <br/>
              </div>
              <div class="location-description"></div>
              <div class="location-button-container">
                <a href="http://www.thecharlestoncitymarket.com/" rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="FunStuff" data-website="http://www.thecharlestoncitymarket.com/">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Middleton Place</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.xogrp.com/images/9499d2b3-d096-40f5-944a-513fab80dd06" />
              </div>
              <div class="location-address">4300 Ashley River Rd, Charleston, SC
                <br/>
              </div>
              <div class="location-description">
                <p class="things-to-do-description">A National Historic Landmark, home to the oldest landscaped gardens in America&nbsp;</p>
              </div>
              <div class="location-button-container">
                <a href="https://www.middletonplace.org/" rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="FunStuff" data-website="https://www.middletonplace.org/">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Waterfront Park</div>
              <div class="location-address"></div>
              <div class="location-description"></div>
              <div class="location-button-container">
                <a href="https://www.charlestonparksconservancy.org/park/riley-waterfront-park" rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="FunStuff" data-website="https://www.charlestonparksconservancy.org/park/riley-waterfront-park">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Fort Sumter National Monument</div>
              <div class="location-address"></div>
              <div class="location-description"></div>
              <div class="location-button-container">
                <a href="https://www.nps.gov/fosu/index.htm" rel="nofollow" target="_blank">
                  <button class="visit-website" data-type="FunStuff" data-website="https://www.nps.gov/fosu/index.htm">Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
        <div class="anchor" id="eat-and-drink"></div>
        <div class="section">
          <div class="section-background"></div>
          <div class="section-title-border-top"></div>
          <div class="section-title">Eat and Drink</div>
          <div class="section-title-border-bottom"></div>
          <div class="section-items">
            <div class="item">
              <a href='http://starsrestaurant.com/'><div class="item-title">STARS</div></a>
              <div class="item-image-container">
                <img class="item-image" src="//media.xogrp.com/images/ee27363d-a947-4b08-902a-785dbf7f4169" />
              </div>
              <div class="item-description">
              </div>
            </div>
            <div class="item-separator"></div>
            <div class="item">
              <a href='http://snobcharleston.com/'><div class="item-title">Slightly North of Broad</div></a>
              <div class="item-image-container">
                <img class="item-image" src="//media.xogrp.com/images/aab8f11d-f7de-472b-a0b5-27a574e203c3" />
              </div>
              <div class="item-description">
               
              </div>
            </div>
            <div class="item-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
      </div>
    </div>
  </div>
